/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* varíaveis */
:root {
  /* cores */
  --primary-color: #5ca720;
  --text-color: #161616;
  --line-color: #a5a1a1;
  --footer-bg: #f9f9f9;

  /*  fonte */
  --font: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font);
  height: 100vh;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.section {
  width: 100%;
}

.line {
  width: 100%;
  height: 0;
  border-bottom: 0.5px solid var(--line-color);
}

.title {
  font-size: 0.875rem;
  font-weight: bold;
}
